# Copyright (c) 2022 Otto-von-Guericke-Universität Magdeburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_SHELL_CMDS
    bool "Support for shell commands"
    depends on MODULE_SHELL

config CONFIG_MODULE_SHELL_COMMANDS
    bool
    select MODULE_SHELL_CMDS_DEFAULT
    help
        Deprecated alias for MODULE_SHELL_CMDS_DEFAULT. For new apps, use
        MODULE_SHELL_CMDS_DEFAULT directly.

config MODULE_SHELL_CMDS_DEFAULT
    bool "Default shell commands for enabled modules"
    select MODULE_SHELL_CMDS
    help
        Shell commands can be enabled and disabled individually as dedicated
        modules. This module instead will select the shell commands of modules
        already used, if this is considered as "good default choice".

